{% extends 'base.html.twig' %}
{% block title %}Modification - Admin{% endblock %}

{% block body %}
<h1>Modifier un profil</h1>



    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Modifier</button>
    {{ form_end(form) }}

        </div>
    </div>
</div>
{% endblock %}