.body {
    background-image: url("/img/fd.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

   



.titre{
    font-size: 30px;
    text-align: center;
    color: rgb(124, 121, 121);
    background-color: rgba(255, 255, 255, 0.362);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 2em;
    margin-bottom: 5em;
    
}


.form-block{
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.362);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 5em;
}

.divBtn{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}
.divCardContent{
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    transition: transform 0.2s;
    
}
label {
/* label[for="registration_form_nom"] { */
    font-weight: 600;
    width: 80%;
    margin: 0 auto;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    outline: none;
    box-shadow: 0 0 6px rgba(0, 123, 255, 0.25);
    display:flex;
    justify-content: end;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    
}
.divimgProfillog{   
    display: flex;

    flex-direction: row;

    margin: 0 auto;
    max-width: 50%;
    border-radius: 50%;
}
.imgLogin{
    width: 100%;
}

.sectionDashboar{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2em;
}


/* footer{
    margin-top: 15em;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.709);
    text-align: center;
    padding: 10px;
}
.divfooter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: black;
} */